:root {
  --padding: 80px;
}

.theme-1 {
  --emphasis: #ee3154;
  --text: #e2e266;
  --background: #31238c;
}

.theme-2 {
  --emphasis: #ff00ff;
  --text: #ffff00;
  --background: #0000ff;
}

@font-face {
  font-family: 'proximanova-extrabold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
       url('fonts/proximanova-extrabold-webfont.woff') format('woff');
}

body, * {
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-family: "proximanova-extrabold", sans-serif;
  font-size: 90px;
  line-height: 1.1;
  margin: 0;
  min-height: 100vh;
  text-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.25);
}

.container {
  background: var(--background);
  height: 1080px;
  margin: 50px auto;
  position: relative;
  width: 1080px;
}

strong, b {
  color: var(--emphasis);
}

p {
  margin: 0;
}

.content {
  left: var(--padding);
  margin-top: -50px;
  position: absolute;
  right: var(--padding);
  top: 50%;
  transform: translateY(-50%);
}

.next_btn {
  align-items: center;
  background-color: var(--text);
  box-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  width: 100px;
}

.next {
  width: 70%;
}

.arrow {
  fill: var(--background);
}

.logo {
  bottom: var(--padding);
  left: var(--padding);
  position: absolute;
  width: 250px;
}

.logo-sm {
  bottom: var(--padding);
  position: absolute;
  right: var(--padding);
  width: 100px;
}

.buttons {
  display: flex;
  margin: 0 auto 30px;
  width: 1080px;
}

button {
  background: transparent;
  border: 1px solid var(--emphasis);
  color: var(--emphasis);
  cursor: pointer;
  flex: none;
  font-size: 20px;
  margin-right: 10px;  
  padding: 10px 20px;
}

.save {
  background: var(--emphasis);
  color: white;
  margin: 0 0 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

li:before {
  content: '\2022';
  margin: 0 0.1em 0 -0.6em;
  position: absolute;
  text-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.25);
}
