:root {
  --padding: 80px;
}

.theme-1 {
  --emphasis: #ee3154;
  --text: #e2e266;
  --background: #31238c;
}

.theme-2 {
  --emphasis: #ff00ff;
  --text: #ffff00;
  --background: #0000ff;
}

.theme-3 {
  --emphasis: #FF8791;
  --text: #FFC800;
  --background: #68868C;
}


.themes > span {
  border: 3px solid white;
}

.theme-1 .theme-1,
.theme-2 .theme-2,
.theme-3 .theme-3 {
  border: 3px solid var(--emphasis);
}

.element {
  display: block;
  flex: 1;
  height: 48px;
}

.themes {
  display: flex;
  margin: 0 auto;
  width: 1080px;
}

.themes > span {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 48px;
  margin-right: 10px;
  overflow: hidden;
  transform: rotate(45deg);
  width: 48px;
}

.element.emphasis {background: var(--emphasis)}
.element.text {background: var(--text)}
.element.background {background: var(--background)}

@font-face {
  font-family: 'proximanova-extrabold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
       url('fonts/proximanova-extrabold-webfont.woff') format('woff');
}

[contenteditable] {
  outline: 0px solid transparent;
}

body, * {
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-family: "proximanova-extrabold", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.container {
  background: var(--background);
  font-size: 90px;
  height: 1080px;
  line-height: 1.1;
  margin: 50px auto;
  position: relative;
  text-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.25);
  width: 1080px;
}

strong, b {
  color: var(--emphasis);
}

p {
  margin: 0;
}

.content {
  left: var(--padding);
  margin-top: -50px;
  position: absolute;
  right: var(--padding);
  top: 50%;
  transform: translateY(-50%);
}

.content.video {
  padding: 0;
}

.next_btn {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  width: 100px;
}

.next_indicator {
  bottom: var(--padding);
  position: absolute;
  right: var(--padding);
  transform: translateY(50%);
  width: 60px;
}

.next_indicator svg,
.next_btn svg {
  fill: var(--text);
  -webkit-filter: drop-shadow(-0.1em 0.1em 0 rgba(0, 0, 0, 0.25));
  filter: drop-shadow(-0.1em 0.1em 0 rgba(0, 0, 0, 0.25));
  width: 100%;
}

.logo svg {
  bottom: var(--padding);
  fill: var(--emphasis);
  left: var(--padding);
  position: absolute;
  width: 250px;
}

.logo-sm svg {
  bottom: var(--padding);
  fill: var(--emphasis);
  left: var(--padding);
  position: absolute;
  transform: translateY(50%);
  width: 150px;
}

.nav {
  background: #222;
  display: flex;
  font-family: sans-serif;
}

.nav a {
  color: white;
  display: block;
  font-size: 20px;
  padding: 20px;
  text-decoration: none
}
.nav .active {

}

.buttons {
  display: flex;
  margin: 0 auto 30px;
  width: 1080px;
}

button {
  background: transparent;
  border: 1px solid var(--emphasis);
  border-radius: 5px;
  color: var(--emphasis);
  cursor: pointer;
  flex: none;
  font-size: 20px;
  margin-right: 10px;  
  padding: 10px 20px;
}

.save {
  background: var(--emphasis);
  color: white;
  margin: 0 0 0 auto;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content li {
  padding: 0.15em 0 0.15em 0.6em;
}

.content li:before {
  content: '\2022';
  margin: 0 0.1em 0 -0.6em;
  position: absolute;
  text-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.25);
}

.content li:focus {
  background: rgba(255,255,255,.05);
  border-radius: 10px;
  margin-left: -0.2em;
  padding: 0.15em 0 0.15em 0.8em;
  transition: background 0.3s ease;
}

.content li:focus:before {
  margin: 0 -0.1em 0 -0.6em;
}

blockquote {
  padding-left: 1em;
  position: relative;
}

blockquote::before {
  background: var(--text);
  bottom: 0;
  box-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.25);
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

blockquote::after {
  background: var(--background);
  content: open-quote;
  display: block;
  font-size: 1.4em;
  height: 1em;
  left: 0;
  line-height: 1.3em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

figcaption {
  font-size: 0.5em;
  text-align: center;
}
